h1{
    color: orangered;
}

.name{
    color: green;
}

.description{
    color: pink;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.rainbow-mode {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffee,
    #2b65ff,
    #8000ff,
    #ff00c8
  );

  background-size: 1600% 1600%;
  animation: rainbowWave 6s ease infinite;
}

@keyframes rainbowWave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.secret-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 9999;

  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}